@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');

.active-link,
.nav-link:hover {
  transition: all .5s ease-in-out;
  color: #FE043C;
}

.std-border{
  border:3px solid #FE043C;
}